@use "../abstract/" as *;
@use "../base/" as *;

 
.menuList{
   @include centerAll;
   &__wrapper{
    @include evenGrid(2, 1fr);
    justify-items: center;
    text-align: left;
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
    }
      
    
   }
  h2{
    padding-top: 7rem;
  }


   img{
    width: 68rem;
    border-radius: 5%;
   }
}