@use "../abstract/" as *;
@use "../base/" as *;


.product{
   @include centerAll;
   &__wrapper{
    @include evenGrid(2, 1fr);
    padding-top: 10rem;
    padding-bottom: 10rem;
    
   }
   &__super{
    @include evenGrid(3,1fr);
   }
   .product__card{
     
   }
    &__card:hover{
      border: 2px solid $clr--secondary;
      border-radius: 2rem;
    }

   
    
   }
   &__super2{
    @include evenGrid(1, 1fr);
   
   }

     
     
