@use "../abstract/" as *;
@use "../base/" as *;

.product {
  @include centerAll;
  &__wrapper {
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
    }
    @include unevenGrid(2.5fr 1fr, 1fr);
    padding-top: 10rem;
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
    }
  }
  &__super {
    @include evenGrid(3, 1fr);
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
    }
  }
  &__cards2 {
    padding: 2rem 1rem;
    text-align: center;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid $clr--secondary;
      border-radius: 2rem;
    }
    h4 {
      font-size: 2rem;
    }
    p {
      color: $clr--secondary;
      padding-bottom: 2rem;
    }
    
    }
  
  .product__super2 {
    h4 {
      font-size: 2rem;
      
    }
         span:after {
        content: " ";
        display: inline-block;
        position: relative;
        background: $clr--light;
        color: $clr--light;
        width: 10rem;
        left:1rem;
       
        border-radius: 1rem;
        margin-top: 1rem;
        height: .1rem;
      } 
     
  }
  &__tex {
    padding-top: 1.5rem;
    border-radius: 2rem;
    width: 12rem;
    background-color: $clr--dark;
    height: 5rem;
    padding-bottom: 3rem;
    input{
      background-color: transparent;
    }
  }

  &__category {
    background-color: $clr--dark;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    width: 12rem;
     justify-content: space-between;

    
    li {
      text-align: left;
      margin: 1rem;
       gap: 3rem;

    }
    
  }
  
  
}
